@use 'global/colors';

.nav-bar {
  height: 64px;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.nav-bar__inner-wrapper {
  width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
