// Simple grid to help with responsiveness, I expect a fully flushed out CSS grid would live here (unless support below IE11 is needed)
.grid-container {
  max-width: 780px;
  margin: 0 auto;
  display: grid;
}

.grid-12 {
  grid-column: 1/12;
}

.grid-table {
  grid-template-columns: 250px 150px repeat(3, 1fr);
  grid-template-rows: [header] auto [main] 80px;
}
