// default font is Helvetica Neue
// default font color is black (#2D2D2D) as defined in _colors.scss

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

$HelveticaNeue: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$NotoSans: 'Noto Sans', sans-serif;

@mixin heading-styles {
  font-family: $NotoSans;
  font-weight: 700;
  color: $black;
}

@mixin text-styles {
  font-family: $NotoSans;
  font-weight: 400;
  color: $black;
}

// Heading styles
.heading2 {
  @include heading-styles();
  font-size: 14px;

  &--gray {
    @extend .heading2;
    color: $gray-text;
  }

  &--white {
    @extend .heading2;
    color: $white-text;
  }
}

.heading3 {
  @include heading-styles();
  font-family: $HelveticaNeue;
  font-size: 16px;
  line-height: 24px;

  &--gray {
    @extend .heading3;
    color: $gray-text;
  }

  &--white {
    @extend .heading3;
    color: $white-text;
  }
}

.heading4 {
  @include heading-styles();
  font-size: 20px;
}

.heading6 {
  @include heading-styles();
  font-size: 28px;
}

// Text styles
.text1 {
  @include text-styles();
  font-family: $HelveticaNeue;
  font-size: 12px;
  line-height: 19px;

  &--gray {
    @extend .text1;
    color: $gray-text;
  }

  &--white {
    @extend .text1;
    color: $white-text;
  }
}

.text2 {
  @include text-styles();
  font-size: 14px;

  &--gray {
    @extend .text1;
    color: $gray-text;
  }
}

.text3 {
  @include text-styles();
  font-size: 16px;
}