// /* If there are other styles being defined on an element, I'd prefer to see styling built into the larger component styles to keep the markup cleaner
// However, if you are only setting typography and one or two display settings, I think using utility classes like the ones defines below is a useful pattern
// */

.u-inline-flex {
  display: inline-flex;
}

.u-align-self-center {
  align-self: center;
}

.u-justify-self-center {
  justify-self: center;
}

.u-block {
  display: block;
}

// /* If this were a larger application, I'd like to use some uniform spacing pattern header to try and prevent pixel pushing
// I envision there would be standard horizontal spacing, margins and padding.
// */

// // Padding
.pl8 {
  padding-left: 8px;
}

.plr18 {
  padding-left: 18px;
  padding-right: 18px;
}

.ptb8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
